.input-group{
    display: block;
    width: 100%;
}
.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}
/* for weather icons to fit in card */
img{
    width: fit-content;
    align-self: center;
}